$footer-background-color:#ff0000;
$navbar-item-color:#b5b5b5;

// @import 'bulma';
// @import '~bulma-page-loader';

@import "_variables.scss";
@import "../../node_modules/bulma/bulma";
@import "../../node_modules/bulma-pageloader/dist/css/bulma-pageloader";
@import "../../node_modules/@creativebulma/bulma-divider/dist/bulma-divider.css";
@import "../../node_modules/@fortawesome/fontawesome-free/css/all.css";
@import "_overrides.scss";


@import "../js/power-sources/styles/animation-power-sources.scss";
@import "../js/power-sources/styles/power-source-inline.scss";
@import "../js/power-sources/styles/power-source-legend.scss";

@import "../js/slides/load-breakdown/styles/slide-load.scss";
@import "../js/slides/power-sources-breakdown/styles/slide-power-sources.scss";
@import "../js/slides/map/styles/map.scss";

html {
    scroll-behavior: smooth;
}

.section:nth-child(2n) {
    background-color: rgb(22, 22, 22) !important;
}


.section:nth-child(2n + 1) {
    background-color: rgb(32, 32, 32) !important;
}

// body {
//     display: flex;
//     min-height: 100vh;
//     flex-direction: column;
//   }

//   #wrapper {
//     flex: 1;
//   }

//   .navbar-item-name { 
//     font-size: 20px !important;
//     font-weight: 900;
//   }

//   .representation-name {
//     // color: #b5b5b5;
//     color:#dbdbdb;
//   }

//   .navbar {
//     background-color:rgba($color: #000000, $alpha: 0.0)
//   }

@media screen and (min-width: 1408px) {
    .container {
        max-width: 1152px;
        width: 1152px;
    }
}

// .affichage-representation {
//     display: flex;
// }
// .representation-icon {
//     height:20rem;
// }

// .representation-data-text {
//     color:#dbdbdb;
// }

.footer {
    background-color:#121212;
    position:fixed;
    bottom:0px;
    width:100%;
    padding:2rem 1.5rem 2rem;
    margin-top: 3rem;
}

// .representations-wrapper > .column {
//     margin-bottom: 3rem;
// }

.rc-slider {
    width: 95% !important;
    margin:auto;
}

.rc-slider-track {
    background-color: whitesmoke !important;
}

.rc-slider-dot-active {
    border-color: #96dbfa !important;
}

.rc-slider-dot {
    border: 2px solid #b5b5b5 !important;
}