$footer-background-color:#ff0000;
$navbar-item-color:#b5b5b5;

@import "_variables.scss";
@import "../../node_modules/bulma/bulma";
@import "_overrides.scss";


// body {
//     display: flex;
//     min-height: 100vh;
//     flex-direction: column;
//   }

//   #wrapper {
//     flex: 1;
//   }

//   .navbar-item-name { 
//     font-size: 20px !important;
//     font-weight: 900;
//   }

//   .representation-name {
//     // color: #b5b5b5;
//     color:#dbdbdb;
//   }

//   .navbar {
//     background-color:rgba($color: #000000, $alpha: 0.0)
//   }

// @media screen and (min-width: 1408px) {
//     .container {
//         max-width: 1152px;
//         width: 1152px;
//     }
// }

// .affichage-representation {
//     display: flex;
// }
// .representation-icon {
//     height:20rem;
// }

// .representation-data-text {
//     color:#dbdbdb;
// }

.footer {
    background-color:#121212;
    position:fixed;
    bottom:0px;
    width:100%;
    padding:2rem 1.5rem 2rem;
}

.representations-wrapper > .column {
    margin-bottom:6rem;
}