#breakdown {
    background-color: #121212;
}

.breakdown-logo-mix, .breakdown-logo-mix > svg {
    height: 6rem;
    max-width: 6rem; 
}

.breakdown-power-source-wrapper .value {
    margin-right: 8px;
    
    color: #888;
    font-size: 85%;
    font-weight: 100;
} 

.breakdown-power-source-wrapper .unit {
    font-weight: 100;
    font-size: 60%;
}

.breakdown-source-name {
    font-size: 90%;
}

.breakdown-power-source {
    background-color : #181818;
    // background-color : red;
    // padding-top: 10px;
    // padding-bottom: 10px;
    border-radius: 5px;
}