.region-solar {
    fill: $solar-color;
}

.region-wind {
    fill: $wind-color;
}

.region-hydraulic {
    fill: $hydraulic-color;
}

.region-nuclear {
    fill: $nuclear-color;
}

.region-bioenergies {
    fill: $bioenergies-color;
}

.region-fossil {
    fill: $fossil-color;
}

#slide-map > .container {
    margin-top:3rem;
}

#build_infos {
    font-size: 60%;
}

.load-logo, .load-logo > svg {
    height: 4rem;
    max-width: 4rem;
    margin: auto;
}

.load-power-source {
    padding:5px;
}