.legende-moyen-production {
    width: 10px;
    height: 10px;
    padding: 5px;
    display: inline-flex;
    margin: 1px;
    margin-right: 10px;
    border-radius: 100%;
    border: white solid 1px;
}

.legende-solar {
    background-color: $solar-color;
}

.legende-wind {
    background-color:$wind-color;
}

.legende-hydraulic {
    background-color:$hydraulic-color;
}

.legende-nuclear {
    background-color:$nuclear-color;
}

.legende-bioenergies {
    background-color:$bioenergies-color;
}

.legende-fossil {
    background-color:$fossil-color;
}
