body {
    background-color: #17181c;
    color: #CCC;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
}

/* Placement des composants de l'application */
/* .app {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-end;
}
.map {
    width: 90%;
    margin-bottom: 20px;
} */

/* Bandeau supérieur */
/* .bandeau {
    width: 100%;
    height: 70px;
    padding: 10 20 10 20;
    background-color: #BBB;
    color: #222;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bandeau .titre {
    font-size: 180%;
}
.bandeau .liens {
    width: 100px;
}
.bandeau .liens > * {
    margin-right: 5px;
}
.bandeau .liens img {
    width: 40px;
    height: 40px;
    border-radius: 100%;
} */

/* Composant carte */
/* .actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
    margin-bottom: 25px;
}
@media (min-width: 600px) and (max-resolution: 150dpi) {
    .actions {
        max-height: 300px;
        width: 50%;
    }
}
@media (min-width: 1200px) and (max-resolution: 150dpi) {
    .actions {
        width: 25%;
    }
}

.buttonOn, .buttonOff {
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    margin: 2px;
}
.buttonOn {
    background-color:  white;
}
.buttonOff {
    background-color:  black;
} 
*/
.titre span {
    margin-right: 20px;
}
.label-region {
    font-weight: 600;
}
.label-date-heure {
    padding-bottom: 15px;
    font-weight: 400;
    font-size: 80%;
}

.unit {
    font-weight: 200;
    font-size: 80%;
}

/*
.DayPicker .DayPicker-Day {
    width: 22px;
    border-radius: 0% !important;
    background-color: rgba(255, 255, 255, 0.05);
}
.DayPicker .DayPicker-Day--selected, .DayPicker-Day .DayPicker-Day--selected:hover {
    background-color: #96dbfa !important;
    color: black !important;
}

.actions .DayPicker-Day--today {
    color: #BBB;
}
.actions .DayPicker:not(.DayPicker--interactionDisabled) .DayPicker-Day:not(.DayPicker-Day--disabled):not(.DayPicker-Day--selected):not(.DayPicker-Day--outside):hover {
    background-color: rgba(255, 255, 255, 0.1);
}
.DayPicker .DayPicker-Day--disabled, .DayPicker .DayPicker-Day--outside {
    background-color: rgba(255, 255, 255, 0);
    color: rgba(255, 255, 255, 0.1);
}
.DayPicker .DayPicker-Day--disabled:hover, .DayPicker .DayPicker-Day--outside:hover {
    background-color: rgba(255, 255, 255, 0) !important;
}

@media (min-resolution: 200dpi) and (orientation: portrait), (pixel-ratio: 2) and (orientation: portrait){
    .DayPicker {
        height: 500px;
        transform: scale(2.5);
        position: relative;
        top: 350px;
    }
    .actions {
        height: 1700px;
    }
    .rc-slider {
        width: 250px !important;
        top: 320px;
    }
    .rc-slider-dot, .rc-slider-handle {
        transform: scale(5) !important;
    }
    .rc-slider-handle {
        margin-left: 15px;
    }
    .rc-slider-mark-text {
        transform: scale(3);
        top: 35px;
        margin-left: 15px;
    }
}

.slider-temps {
    width: 80% !important;
    margin-top: 20px;
}

.affichage {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.affichage.seul {
    width: 100% !important;
}

.affichage > * {
    width: 100%;
}

@media (min-width: 600px) and (max-resolution: 150dpi) {
    .affichage {
        width: 50%;
    }
}
@media (min-width: 1200px) and (max-resolution: 150dpi) {      
    .affichage {
        width: 75%;
    }
    .affichage > * {
        width: 50%;
    }
}

.chart-wrapping {
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    height: 450px;
}
.chart-wrapping > div {
    width: 100%;
}
.highcharts-figure, .highcharts-data-table table {
    min-width: 250px; 
    max-width: 800px;
}

@media (min-width: 1200px) and (max-resolution: 150dpi) {
    .chart-wrapping {
        width: 48%;
    }
}

@media (max-width: 500px) and (max-resolution: 150dpi) {
    .chart-wrapping {
        padding: 0px;
        width: 100%;
    }
}
*/
.region {
    cursor: pointer;
    transition: fill 0.5s;
    opacity: 0.8;
    stroke: black;
}
.region:hover {
    opacity: 1;
}
.nucleaire_couleur {
    fill: rgb(174, 184, 0);
}
.bioenergies_couleur {
    fill: rgb(22, 106, 87);
}
.eolien_couleur {
    fill: rgb(116, 205, 185);
}
.hydraulique_couleur {
    fill: rgb(39, 114, 178);
}
.solaire_couleur {
    fill: rgb(242, 116, 6);
}
.thermique_couleur {
    fill: rgb(134, 125, 102);
}
.selectionnee {
    opacity: 1;
    stroke: black;
    stroke-width: 3px;
    stroke-opacity: 1;
}

/* Style des représentations graphiques */
/* .regroupement-representations {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
} */
/* .representation {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 320px;
    margin-bottom: 20px;
} */
.representation svg {
    height: 140px;
    width: 100%;
}
.statistiques {
    display: flex;
    flex-direction: column;
    align-items: justify;
}
/* @media (min-width: 600px) and (max-resolution: 150dpi) {
    .representation {
        width: 33%;
    }
}
@media (min-width: 1200px) and (max-resolution: 150dpi) {
    .representation {
        width: 16.6%;
    }
}
*/
.representation .titre {
    margin-right: 10px;
    color: #888;
    font-weight: 200;

} 
.legende {
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.legende-moyen-production {
    width: 10px;
    height: 10px;
    padding: 5px;
    display: inline-flex;
    margin: 1px;
    margin-right: 10px;
    border-radius: 100%;
    border: white solid 1px;
}
.legende-photovoltaique {
    background-color:rgb(242, 116, 6);
}
.legende-eolien {
    background-color:rgb(116, 205, 185);
}
.legende-hydraulique {
    background-color:rgb(39, 114, 178);
}
.legende-nucleaire {
    background-color:rgb(174, 184, 0);
}
.legende-bioenergies {
    background-color:rgb(22, 106, 87);
}
.legende-thermique {
    background-color:rgb(134, 125, 102);
}



/* Informations */
.informations {
    width: 100%;
    padding: 20px;
}
@media (min-width: 600px) and (max-resolution: 150dpi) {
    .informations {
        width: 50%;
    }
}
@media (min-width: 1200px) and (max-resolution: 150dpi) {
    .informations {
        width: 67%;
    }
}

.aPropos {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.aPropos a {
    font-weight: 600;
    text-decoration: underline;
    color: #FFF;
}

@media (min-resolution: 150dpi) {
    body {
        font-size: 250%;
    }
    .bandeau h1 {
        font-size: 240%;
    }
    .bandeau {
        height: 200px;
    }
    .bandeau .liens {
        width: 150px;
    }
    .buttonOn, .buttonOff, .bandeau .liens img {
        width: 70px;
        height: 70px;
    }
    /* .representation {
        width: 50%;
        margin-top: 20px;
        height: 850px;
    } */
    .representation svg {
        height: 140px;
    }
    .label-region, .label-date-heure {
        font-size: 75%;
    }
    .aPropos {
        font-size: 75%;
    }
    .affichage-representation {
        margin-bottom: 20px;
    }
    .chart-wrapping {
        height: 650px;
    }
    .chart-wrapping > div {
        height: 100%;
    }    
    .legende-moyen-production {
        width: 18px;
        height: 18px;
        margin-bottom: -0.2rem;
    }
    .regroupement-representations {
        padding-left: 20px;
    }
}