.power-sources-logo, .power-sources-logo > svg {
    height: 4rem;
    max-width: 3.75rem; 
    // margin: auto
}

.power-sources-power-source .value {
    margin-right: 10px;
    color: #888;
    font-weight: 200;
} 

.power-sources-power-source .unit {
    font-weight: 200;
    font-size: 80%;
}