.power-sources-logo, .power-sources-logo > svg {
    max-height: 4rem;
    width: 3.8rem; 
    margin: auto;
}

.power-sources-power-source .value {
    margin-right: 10px;
    color: #888;
    font-weight: 200;
} 

.power-sources-power-source .unit {
    font-weight: 200;
    font-size: 80%;
}