body {
    background-color: #222;
}

.region {
    cursor: pointer;
    transition: fill 0.5s;
    opacity: 0.8;
    stroke: black;
}
.region:hover {
    opacity: 1;
}
.nucleaire_couleur {
    fill: rgba(174, 184, 0);
}
.bioenergies_couleur {
    fill: rgb(22, 106, 87);
}
.eolien_couleur {
    fill: rgb(116, 205, 185);
}
.hydraulique_couleur {
    fill: rgb(39, 114, 178);
}
.solaire_couleur {
    fill: rgb(242, 116, 6);
}
.thermique_couleur {
    fill: rgb(134, 125, 102);
}
.selectionnee {
    opacity: 1;
    stroke: black;
    stroke-width: 3px;
    stroke-opacity: 1;
}

.pales {
    animation-name: rotation;
    /* Things added */
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transform-origin: 88.5px 63px;
    display: inline-block;
}
@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}