// .power-source-inline-moyen-production {
//     width: 10px;
//     height: 10px;
//     padding: 5px;
//     display: inline-flex;
//     margin: 1px;
//     margin-right: 10px;
//     border-radius: 100%;
//     border: white solid 1px;
// }

[class*="power-source-inline-"], .text-inline-highlighted {
    padding-left: $inline-text-padding-horizontal;
    padding-right: $inline-text-padding-horizontal;
    border-radius: $inline-text-border-radius;
}

.power-source-inline-solar {
    background-color: $solar-color;
}

.power-source-inline-wind {
    background-color:$wind-color;
}

.power-source-inline-hydraulic {
    background-color:$hydraulic-color;
}

.power-source-inline-nuclear {
    background-color:$nuclear-color;
}

.power-source-inline-bioenergies {
    background-color:$bioenergies-color;
}

.power-source-inline-thermal {
    background-color:$thermal-color;
}
